@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../vendor/Fonts/CabinetGrotesk-Regular.otf");
}

.modal__subcontainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.itemDeleteButtonClassName {
  width: 101px;
  height: 24px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: #ff4d00;
  background-color: white;
  cursor: pointer;
  margin-top: 15px;
}

.item__delete-btn:hover {
  color: #f80000;
}

.item__delete-btn_visible {
  visibility: visible;
}

.item__delete-btn_hidden {
  visibility: hidden;
}

.modal__image {
  border-radius: 10px;
  width: 496px;
  height: 498px;
}

.modal__content-item {
  padding: 0;
  height: 610px;
}

.modal__subcontainer {
  width: 475px;
}

.modal__title {
  margin-left: 25px;
}

.modal__weather {
  margin-left: 25px;
}
