@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../vendor/Fonts/CabinetGrotesk-Regular.otf");
}

.main {
  padding: 0 20px;
}

.main_text {
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
