@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../vendor/Fonts/CabinetGrotesk-Regular.otf");
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: relative;
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 28px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  background-image: url("../images/close-button.svg");
  position: absolute;
  right: 31px;
  top: 23px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  padding-top: 8px;
}

.modal__submit:hover {
  background: rgba(0, 0, 0, 0.6);
}

.modal__label-container {
  display: flex;
  flex-direction: column;
}

.modal__label {
  padding-top: 24px;
}

.modal__weather-type {
  padding-top: 24px;
}

.modal__fieldset {
  border: none;
}

.modal__buttons-down {
  display: flex;
  gap: 5px;
  padding-top: 40px;
}

.modal__other {
  border: none;
  background-color: white;
  cursor: pointer;
  color: grey;
  width: 79px;
  height: 36px;
}

.modal__submit {
  border: none;
  background-color: black;
  color: white;
  width: 90px;
  height: 45px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.modal__other-newGarment {
  visibility: hidden;
}

.modal__other-editProfile {
  visibility: hidden;
}
