@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../vendor/Fonts/CabinetGrotesk-Regular.otf");
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  position: relative;
  background-color: white;
  max-width: 496px;
  width: 100%;
  border-radius: 20px;
  padding: 28px 28px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal_close {
  background-image: url("../images/close-button.svg");
  position: absolute;
  right: 31px;
  top: 23px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  width: 100%;
  padding-top: 8px;
}

.modal_submit {
  margin-top: 42px;
  border-radius: 4px;
  height: 36px;
  width: 124px;
  color: white;
  background: black;
  border: none;
  cursor: pointer;
}

.modal_submit:hover {
  background: rgba(0, 0, 0, 0.6);
}

.modal_image {
  border-radius: 4px;
}

.modal__label-container {
  display: flex;
  flex-direction: column;
}

.modal__label {
  padding-top: 24px;
}

.modal_weather-type {
  padding-top: 24px;
}

.modal_fieldset {
  border: none;
}
