@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../vendor/Fonts/CabinetGrotesk-Regular.otf");
}

.weather {
  position: relative;
  margin: 15px 15px;
}

.weather-info {
  position: absolute;
  top: 20px;
  left: 16px;
  color: white;
  font-size: 36px;
  font-family: "Cabinet Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.weather_image {
  width: 100%;
}
